.item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-weight: 700;
  font-size: 14px;
  margin-right: 5px;
}
.number {
  font-size: 14px;
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: rgb(206, 247, 220);
  transition: background-color 250ms linear, transform 250ms linear;
}
.btn:hover,
.btn:focus {
  background-color: #90ce95;
  transform: scale(1.1);
}
